.appIcon {
  display: flex;
  flex-direction: column;

  .icon {
    width: 42px;
    height: 42px;
    border-radius: 8px;
    cursor: pointer;
  }
}

.label {
  text-align: center;
  font-family: "SF-Pro-Text-Medium";
  font-size: 9px;
  color: white;
  margin-top: 4px;
  width: 42px;
}
