.home {
  height: 100%;
  background-size: cover;

  .page {
    margin: 25px 13px 0;
    padding: 0 18px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 14px;
    justify-content: space-between;
  }
}
