.phoneHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "SF-Pro-Text-Bold";
  padding: 32px 0 12px 0;
  user-select: none;
  height: 13px;
  width: 100%;
  z-index: 99;

  .phoneHeaderLeft {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }

  .phoneHeaderRight {
    display: flex;
    align-items: center;
    margin-right: 32px;

    .phoneHeaderIcon {
      margin: -4px 2px 0 2px;

      svg {
        height: 8px;
      }
    }
  }

  &.phoneHeaderLight {
    fill: #fff;
  }

  &.phoneHeaderDark {
    fill: #000;
  }
}
