.LockScreen {
  position: relative;
  height: 100%;
  width: 100%;

  .LockScreenBlurBg {
    position: relative;
    height: 100%;
    width: 100%;

    .LockScreenContent {
      position: absolute;
      bottom: 100%;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      z-index: 200;

      .LockScreenBlurImg {
        position: absolute;
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        background-size: cover;
      }

      .LockScreenDateTime {
        position: relative;
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: column;

        .LockScreenTime {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          margin-top: 15px;
        }

        .LockScreenButtonContainer {
          margin-top: 330px;
          padding: 2.5rem 2.5rem 1.5rem 2.5rem;
          display: flex;
          align-self: stretch;
          justify-content: space-between;

          .LockScreenButton {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            background: rgba(37, 37, 37, 0.28);
            backdrop-filter: blur(42px);

            border-radius: 100px;
            border: none;

            .flash {
              width: 15px;
              height: 15px;
            }

            .camera {
              width: 15px;
              height: 15px;
            }
          }
        }

        .LockScreenSwipeBar {
          background: white;
          width: 87px;
          height: 4px;
          border-radius: 2rem;
        }
      }
    }

    .LockScreenContent > div {
      overflow: hidden;
      background: rgba(0, 0, 0, 0.1);
      height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      position: relative;
    }
  }
}
